/************** SHARED *************/
h2 {
  text-align: center;
  padding: 3%;
}

.background {
  background: #ffe9ab;
}

.orange {
  background-color: $orange;
}

.bar-header {
  height: 60px;
}

.row-center {
  text-align: center;
}

.item-select {
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
}

.item-select select {
  width: 1000px;
  max-width: 100%;
  text-align: left;
  background-color: $orange;
}

.bar-header i {
    font-size: 20px;
    padding-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}

.bar-header span {
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}

.bar-footer {
    height: 50px;
}

/************** MAIN *************/
.stats {
  margin-left: auto;
}

.progress-bar {
  width: 70%;
  height: 15px;
  background: #fff;
  border-radius: 50px;
  border: 2px solid #000;
  margin: 5px auto 5px 10px;
  display: block;
}

.progress-bar-indicator {
  height: 11px;
  overflow: hidden;
  border-radius: 50px;
}

.hp {
    background: red;
}

.xp {
    background: yellow;
}

.avatar  {
  position: relative;
}

.asset {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%
}

.equipment {
  display: flex;
  flex-flow: row wrap;
}

.equipment-item {
  width: 33%;
  height: auto;
}

.equipment-item img {
  max-width: 100%;
  border: grey 1px solid;
}

.button-footer {
  display: flex;
  flex-direction: row;
}

.button-footer img {
  height: 100%;
  width: auto;
}


/************** TASKS *************/
.task-list ion-item {
  display: flex;
  flex-direction: row;
  background-color: #ffe9ab;
  margin-left:0;
  margin-top: 5px;
  box-shadow: 1px 1px 1px #888888;
}

.drag {
  width: 30pt;
}

.hard-task {
  background-color: red;
}

.medium-task {
  background-color: yellow;
}

.easy-task {
  background-color: green;
}

ion-radio {
  backround-color: #ffe9ab;
}


