.item-select {
  width: 100%;
  height: 90%;
  margin: 0;
}

.item-select item-label {
    width: 0%;
    border: none;
}

.item-select {
    height: 45px;
    width: 100%;
}

.bar-header {
    height: 110%
}

.bar-header item {
    width: 200px;
    height: 60px;
}

.bar-header i {
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}

.bar-header span {
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}

.bar-header button {
   height: 30px;
   margin-top: auto;
   margin-bottom: auto;
   display: block;
}

.bar-footer {
    height: 50px;
}

.item-select select {
    width: 100%;
    left: 2000;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.progressBar{
  width: 70%;
  height: 15px;
  background: #fff;
  border-radius: 50px;
  border: 2px solid #000;
  margin-left: 10px;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
}

.progressBarIndicator{
  height: 11px;
  overflow: hidden;
  border-radius: 50px;
}

.heart {
    background: red;
}

.row-center {
    text-align: center;
}

.star {
    background: yellow;
}

.background, .background .pane {
    background: #ffe9ab;
}

.avatar  {
  position: relative;
}

h2 {
    text-align: center;
}

.asset {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%
}

.equipmentItem {
  border: red 1px solid;
}

.equipmentItem img{
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: auto;
}

#customHeader {
  height: 60px;
  background-color: #ff6b3d;
}
