
/************** SHARED *************/
h2 {
  text-align: center;
  padding: 3%; }

.background {
  background: #ffe9ab; }

.orange {
  background-color: #ff6b3d; }

.bar-header {
  height: 60px; }

.row-center {
  text-align: center; }

.item-select {
  height: 100%;
  padding: 0;
  margin: 0;
  border: none; }

.item-select select {
  width: 1000px;
  max-width: 100%;
  text-align: left;
  background-color: #ff6b3d; }

.bar-header i {
  font-size: 20px;
  padding-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
  display: block; }

.bar-header span {
  font-size: 20px;
  margin-top: auto;
  margin-bottom: auto;
  display: block; }

.bar-footer {
  height: 50px; }

/************** MAIN *************/
.stats {
  margin-left: auto; }

.progress-bar {
  width: 70%;
  height: 20%;
  border-radius: 50px;
  border: 2px solid #000;
  margin: 5px auto 5px 10px;
  display: block; }

.progress-bar-indicator {
  height: 11px;
  overflow: hidden;
  border-radius: 50px; }

.hp {
  background: red;
}

.xp {
  background: yellow; }

.avatar {
  position: relative; }

.asset {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.equipment {
  display: flex;
  flex-flow: row wrap; }

.equipment-item {
  width: 33%;
  height: auto;
  position: relative;
  border: grey 1px solid;
}

.equipment-item img {
  max-width: 100%;
}

.button-footer {
  display: flex;
  flex-direction: row; }

.button-footer img {
  height: 100%;
  width: auto;
  border-right: grey 1px;}

.selected {
  border: grey 1px solid;
}

.price-tag, .lvl-tag {
  position: absolute;
  margin: 1px;
}

.price-tag {
  right: 0;
  bottom: 0;
}

.lvl-tag {
  left: 0;
  top: 0;
}

.canBePurchased {
  background-color: #eee;
}

.unavailable {
  background-color: #bbb;
}

.unavailable img {
  opacity: 0.5;
}

/************** TASKS *************/
.tasks-title {
  padding-top: 20pt;
  padding-bottom: 5pt;
}

.task-list ion-item {
  display: flex;
  flex-direction: row;
  height: 50pt;
  line-height: 50pt;
  padding: 0px;
}

.drag {
  width: 35pt;
  border-radius: 0px 30px 30px 0px;
  background-color: #585860;
}

.item-content {
   width: 100%;
}

.task-name {
  padding: 0px 0px 0px 50px;
  display: flex;
  flex-direction: row;
  height: 50pt;
  line-height: 50pt;
  padding: 0px;
}

.task-name span {
  font-size: large;
  font-weight: bold;
  color: black;
}

.hard-task {
  background-color: #EE9360;
}

.medium-task {
  background-color: #FFF572;
}

.easy-task {
  background-color: #B0D57F;
}

.ion-radio {
  background-color: #ffe9ab; }

/************** LOGIN/REGISTER *************/

.accept-button-container {
   margin: 40px 10px 10px 10px;
}

