.accept-invite-button {
  float: right;
}

.invite-filter-button {
  width: 33%;
  text-align: center;
  padding-top: 5px;
}

.search-failed-msg {
  text-align: center;
  padding-top: 20px;
}

.hide-invite {
  float: right;
}
