.item-content {
  width: 100%;
}

.task-name {
  color: black;
  white-space: normal;
}

.task-details {
  float: right;
  font-weight: normal;
  margin-left: 5px;
}

.tutor-tasks-page {
  .item-complex > .item-content {
    background: $body-background;
    padding: 5px;
    display: flex;
  }
  ion-list .item {
    padding: 0;
  }

  .item,
  .item-complex {
    &.activated .item-content {
      background: $body-background;
    }
  }
}
