<ion-modal-view>
  <ion-header-bar class="bar bar-header">
    <a class="button button-icon icon ion-android-arrow-back" ng-click="modal.hide()"></a>
    <h1 class="title">Wybierz ekwipunek</h1>
  </ion-header-bar>
  <ion-content class="has-header has-footer">
    <div class="equipment">
      <div class="equipmentItem" ng-repeat="item in equipment">
        <img ng-src="{{item.iconSrc}}" ng-click="putOn(item)"/>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar>
    <div class="button-bar orange">
      <button class="button button-icon icon ion-android-contact"></button>
      <button class="button button-icon icon ion-android-happy"></button>
      <button class="button button-icon icon ion-tshirt"></button>
      <button class="button button-icon icon ion-planet"></button>
      <button class="button button-icon icon ion-fork"></button>
      <button class="button button-icon icon ion-ios-paw"></button>
    </div>
  </ion-footer-bar>
</ion-modal-view>
