<ion-modal-view>
  <ion-header-bar class="bar bar-header">
    <a class="button button-icon icon ion-android-arrow-back" ng-click="modal.hide()"></a>
    <h1 class="title">Wybierz ekwipunek</h1>
  </ion-header-bar>
  <ion-content class="has-header has-footer" on-swipe-right="previousType()" on-swipe-left="nextType()">
    <div class="equipment">

      <div class="equipment-item" ng-repeat="item in currentEquipment">
        <img ng-src="{{item.iconSrc}}" ng-click="putOn(item)"/>
      </div>

    </div>
  </ion-content>
  <ion-footer-bar class="button-footer">
    <img ng-src="{{item.iconSrc}}" ng-repeat="item in buttons" ng-click="openModal(item)"/>
  </ion-footer-bar>
</ion-modal-view>
