<ion-view>
  <ion-pane class="background" style="background-color: #ffe9ab;">
    <div class="bar bar-header" style="background-color: #ff6b3d; height: 60px;">

      <div class="row row-center" style="background-color: #ff6b3d;">
        <div class="col col-50">
          <label class="item item-input item-select" style="background-color: #ff6b3d; border: none;">
            <select style="color: #fff; background-color: #ff6b3d; border: none;">
              <option selected>Antek</option>
              <option>Mag</option>
              <option>Pirat</option>
              <option>Czlowiek</option>
            </select>
          </label>
        </div>

        <div class="col col-10"><i class="icon icon ion-flash" style="padding-left: 20px;"></i></div>
        <div class="col col-10"><span>10</span></div>
        <div class="col col-10"><i class="icon icon ion-star" style="padding-left: 20px;"></i></div>
        <div class="col col-10"><span>20</span></div>
        <div class="col col-10">
          <button class="button icon ion-gear-b" style="background-color: #ff6b3d;"></button>
        </div>
      </div>
    </div>
    <ion-content on-swipe-left="swipeLeft()" class="padding has-header has-footer"
                 style="margin-top: 10px; background-color: #FFE9AB">

      <div class="row row-100">
        <div class="col col-100">
          <div class="row row-50 row-center"><i style="margin-left: auto;" class="icon icon ion-star"></i>
            <div class="progressBar">
              <div class="progressBarIndicator star"></div>
            </div>
          </div>

          <div class="row row-50 row-center"><i style="margin-left: auto;" class="icon icon ion-android-favorite"></i>
            <div class="progressBar">
              <div class="progressBarIndicator heart"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-90 row-center">
          <div class="avatar col col-100" align="center">
              <img class="asset body" src="img/baza.svg">
              <img class="asset eyes" src="img/eyes1.svg">
              <img class="asset nose" src="img/nose1.svg">
              <img class="asset mouth" src="img/mouth1.svg">
              <img class="asset hair" src="img/hair1.svg">
              <img class="asset pants" src="img/pants1.svg">
              <img class="asset shoes" src="img/shoes1.svg">
              <img class="asset tee" src="img/tee1.svg">
          </div>
      </div>

    </ion-content>
    <ion-footer-bar ng-click="openModal()" align-title="left" style="background-color: #ff6b3d; height: 50px;">
      <div class="button-bar">
        <button class="button icon ion-android-contact"
                style="background-color: #ff6b3d; border-right: 1px solid;"></button>
        <button class="button icon ion-android-happy"
                style="background-color: #ff6b3d; border-right: 1px solid;"></button>
        <button class="button icon ion-tshirt" style="background-color: #ff6b3d; border-right: 1px solid;"></button>
        <button class="button icon ion-planet" style="background-color: #ff6b3d; border-right: 1px solid;"></button>
        <button class="button icon ion-fork" style="background-color: #ff6b3d; border-right: 1px solid;"></button>
        <button class="button icon ion-ios-paw" style="background-color: #ff6b3d;"></button>
        <!--<button class="button" ng-repeat="button in buttons" style="background-color: #ff6b3d; border-right: 1px solid;">-->
          <!--<img ng-src="{{button.iconSrc}}" ng-click="filterBy(button.type)" style="max-width:100%;">-->
        <!--</button>-->
      </div>
    </ion-footer-bar>
  </ion-pane>
</ion-view>

<script id="equipmentModal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header">
      <a class="button button-icon icon ion-android-arrow-back" ng-click="modal.hide()"></a>
      <h1 class="title">Wybierz ekwipunek</h1>
    </ion-header-bar>
    <ion-content>
      <div class="equipment">
          <div class="equipmentItem" ng-repeat="item in equipment">
            <img ng-src="{{item.iconSrc}}" ng-click="putOn(item)"/>
          </div>
        </div>
      </div>
    </ion-content>
    <ion-footer-bar>
      <div class="button-bar">
        <button class="button icon ion-android-contact"
                style="background-color: #ff6b3d; border-right: 1px solid;"></button>
        <button class="button icon ion-android-happy"
                style="background-color: #ff6b3d; border-right: 1px solid;"></button>
        <button class="button icon ion-tshirt" style="background-color: #ff6b3d; border-right: 1px solid;"></button>
        <button class="button icon ion-planet" style="background-color: #ff6b3d; border-right: 1px solid;"></button>
        <button class="button icon ion-fork" style="background-color: #ff6b3d; border-right: 1px solid;"></button>
        <button class="button icon ion-ios-paw" style="background-color: #ff6b3d;"></button>
      </div>
    </ion-footer-bar>
  </ion-modal-view>
</script>
