.background {
  background: $body-background;

  ion-list .item {
    border-color: #eed79a;
  }

  .item-input {
    border-color: #e6e1d5;
  }
}

.orange {
  background: $orange;

  &.bar {
    border-color: #e25d33;
  }
}

.bar-header {
  height: 60px;
}

.has-header {
  top: 60px;
}

.row-center {
  text-align: center;
}

.item-select {
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;

  select {
    width: 1000px;
    max-width: 100%;
    text-align: left;
    background-color: $orange;
  }
}

.avatar-select .ng-binding{
  display: none;
}

.bar-header {
  i {
    font-size: 20px;
    padding-left: 20px;
    margin: auto 0;
    display: block;
  }

  span {
    font-size: 20px;
    margin: auto 0;
    display: block;
  }
}

.bar-footer {
  height: 50px;
}

.empty-msg,
.empty-msg-container {
  text-align: center;
}

