<div class="bar bar-header orange">
    <div class="row row-center orange">
        <div class="col col-70">
            {{ user.login }}
        </div>
        <button class="button button-icon icon ion-plus" ng-click="invite()"></button>
        <button class="button button-icon icon ion-gear-b" ui-sref="settingsTutor"></button>
    </div>
</div>
</div>
<ion-content class="background has-header has-footer" style="margin-top:16px">
  <ion-list>
    <ion-item class="background" ng-repeat="invite in invites | filter:filters | orderBy:invite.kind">
        <div style="display: inline-block">
        <div ng-if="invite.kind=='tutor'">Zaprosiłeś dziecko nr {{invite.tutor_id}}</div>
        <div ng-if="invite.kind=='child'">Zaprosiło cię dziecko nr {{invite.tutor_id}}</div>
        <div ng-if="invite.kind=='child-avatar'">Dziecko nr {{invite.tutor_id}} prosi o nowy awatar</div>
        <div style="opacity: 0.5">
            <div ng-if="invite.status=='pending'">oczekujące</div>
            <div ng-if="invite.status=='accepted'">zaakceptowane</div>
            <div ng-if="invite.status=='rejected'">odrzucone</div>
        </div>
        </div>
      <div class="button button-balanced accept-invite-button" ng-click="acceptInvite(invite)"
              ng-if="(invite.kind=='child' || invite.kind=='child-avatar') && invite.status=='pending'">OKEJ</div>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer-bar class="button-footer orange">
    <div class="invite-filter-button" ng-click="filters.kind = ''">
      Wszystkie
    </div>
    <div class="invite-filter-button" ng-click="filters.kind = 'tutor'">
      Wysłane
    </div>
    <div class="invite-filter-button" ng-click="filters.kind = 'child'">
      Otrzymane
    </div>
</ion-footer-bar>
