<div ng-controller="LoginController" class="text-center background" style="padding:50px 0">
    <h2>Little Hero</h2>
    <form>
      <div class="list">
        <label class="item item-input">
          <span class="input-label"><b>Login</b></span>
          <input type="text" ng-model="login">
        </label>
        <label class="item item-input">
          <span class="input-label"><b>Hasło</b></span>
          <input type="password" ng-model="password">
        </label>
      </div>

      <div class='accept-button-container'>
          <button class="button button-block orange accept-button" ng-click="validate()">
            Zaloguj
          </button>
      </div>
      <div ng-show="invalid">
        Bledne dane, logowanie nie powiodło się
      </div>
      <div id="registration"><a ng-click="registration()">
        Nie masz konta? Zarejestruj się!
      </a></div>
    </form>
</div>

