<link rel="stylesheet" type="text/css" href="css/styles.css" />

<div ng-controller="LoginController" class="text-center background" style="padding:50px 0">
    <h2>Little Hero</h2>
    <form>
      <div class="list">
        <label class="item item-input">
          <span class="input-label"><b>Login</b></span>
          <input type="text" ng-model="login">
        </label>
        <label class="item item-input">
          <span class="input-label"><b>Hasło</b></span>
          <input type="password" ng-model="password">
        </label>
      </div>

          <button class="button button-block button-positive" ng-click="validate()">
            Zaloguj
          </button>
      <div ng-show="invalid">
        Brak danych, logowanie nie powiodło się
      </div>

        <div id="forgotPassword"><a ui-sref="recoverPassword">Zapomniałeś hasła?</a></div>
    </form>
</div>

