<ion-view>
  <ion-pane class="background">
    <div class="bar bar-header orange">
      <div class="row row-center orange">
        <div class="col col-40">
          {{ currentAvatar.name }}
        </div>

        <div class="col col-10"><i class="icon icon ion-flash"></i></div>
        <div class="col col-10"><span>{{ currentAvatar.level }}</span></div>
        <div class="col col-10"><i class="icon icon ion-cash"></i></div>
        <div class="col col-20"><span>{{ currentAvatar.money }}</span></div>
        <div class="col col-10">
          <button class="button button-icon icon ion-gear-b" ng-click="settings()"></button>
        </div>
      </div>
    </div>

    <ion-content on-swipe-left="swipeLeft()" class="background has-header">

      <div class="title">
        <h2>Powiadomienia</h2>
      </div>

      <ion-list class="notification-list" can-swipe="true" swipe-direction="right" scroll="false">
        <div class="item-remove-animate" ng-repeat="notification in notifications | orderBy: notification.id :true track by notification.id" >
          <ion-item class="background" scroll="false">
            <div >
              {{notification.content}}
            </div>
            <ion-option-button side="right" class="button orange" ng-click="deleteNotification(notification)">
              <i class="icon ion-ios-trash"></i>
            </ion-option-button>
          </ion-item>
        </div>
      </ion-list>
      <div class="empty-msg" ng-if="!notifications.length">Nie masz żadnych powiadomień</div>
    </ion-content>

  </ion-pane>
</ion-view>

