<div class="bar bar-header orange">

  <div class="row row-center orange">
    <div class="col col-50 item item-select">
      <select ng-model="currentAvatar" ng-options="avatar.name for avatar in allAvatars track by avatar.id">
        <option value="">{{ user.nickname }}</option>
      </select>
    </div>

    <div class="col col-10"><i class="icon icon ion-flash"></i></div>
    <div class="col col-10"><span>{{ currentAvatar.level }}</span></div>
    <div class="col col-10"><i class="icon icon ion-social-bitcoin"></i></div>
    <div class="col col-10"><span>{{ currentAvatar.money }}</span></div>
    <div class="col col-10">
      <button class="button button-icon icon ion-gear-b" ng-click="settings()"></button>
    </div>
  </div>
</div>

<ion-content on-swipe-left="swipeLeft()" class="background has-header">

  <div class="title">
    <h2>Powiadomienia</h2>
  </div>

  <ion-list>
    <ion-item class="background" ng-repeat="notification in notifications">
      {{notification}}
    </ion-item>
  </ion-list>
</ion-content>

