<div class="text-center background" style="padding:50px 0">
  <h2>Rejestracja konta</h2>
  <form name="registration">
    <div class="list" class="backgraund">
      <label class="item item-input">
        <span class="input-label"><b>Login</b></span>
        <input type="text" ng-model="login">

      </label>
      <label class="item item-input">
        <span class="input-label"><b>E-mail</b></span>
        <!-- TODO: zmienić typ na email po skończonym developmencie żeby blokowało niemailowe stringi-->
        <input type="text" ng-model="email">
      </label>
      <label class="item item-input">
        <span class="input-label"><b>Hasło</b></span>
        <input type="password" ng-model="password">
      </label>
      </label>

    </div>

    <!-- switch taki trochę switch -->

    <ion-radio ng-model="opiekun" ng-value="true">Opiekun</ion-radio>
    <ion-radio ng-model="opiekun" ng-value="false">Dziecko</ion-radio>

    <div class="accept-button-container">
      <button class="button button-block orange accept-button" ng-click="validate()">
        Zarejestruj
      </button>
    </div>
    <div ng-show="invalidExists">
      Takie konto już istnieje
    </div>
    <div ng-show="invalidData">
      Brak/nieprawidłowe dane
    </div>
    <a ui-sref="login">Masz już konto?</a>
  </form>
</div>



