<div class="text-center background" style="padding:50px 0">
  <h2>Zarejestruj się!</h2>
  <form name="registration">
    <div class="list" class="backgraund">
      <label class="item item-input">
        <span class="input-label">Login</span>
        <input type="text" ng-model="login">

      </label>
      <label class="item item-input">
        <span class="input-label">E-mail</span>
        <!-- TODO: zmienić typ na email po skończonym developmencie żeby blokowało niemailowe stringi-->
        <input type="text" ng-model="email">
      </label>
      <label class="item item-input">
        <span class="input-label">Hasło</span>
        <input type="password" ng-model="password">
      </label>
      </label>

    </div>

    <ion-radio ng-model="opiekun" ng-value="true">Opiekun</ion-radio>
    <ion-radio ng-model="opiekun" ng-value="false">Dziecko</ion-radio>

    <div class="accept-button-container">
      <button class="button button-block orange accept-button" ng-click="validate()">
        Zarejestruj
      </button>
    </div>
    <div ng-show="invalid">
      {{errorMessage}}
    </div>
    <a ui-sref="login">Masz już konto?</a>
  </form>
</div>



