<ion-view>
  <ion-pane class="background">
    <div class="bar bar-header orange">
      <div class="row row-center orange">
        <div class="col col-40 item item-select avatar-select">
          <select ng-model="currentAvatar" ng-change="setAvatarData(currentAvatar)" ng-options="avatar.name for avatar in allAvatars track by avatar.id">
            <option value="">{{ currentAvatar.name }} </option>
          </select>
        </div>

        <div class="col col-10"><i class="icon icon ion-flash"></i></div>
        <div class="col col-10"><span>{{ currentAvatar.level }}</span></div>
        <div class="col col-10"><i class="icon icon ion-social-bitcoin"></i></div>
        <div class="col col-20"><span>{{ currentAvatar.money }}</span></div>
        <div class="col col-10">
          <button class="button button-icon icon ion-gear-b" ng-click="settings()"></button>
        </div>
      </div>
    </div>

    <ion-content on-swipe-right="swipeRight()" class="background has-header">

      <div class="tasks-title">
        <h2>Wyzwania</h2>
      </div>

      <ion-list class="task-list" scroll="false">
        <ion-item ng-repeat="task in tasks track by $index" ng-class="dynamicStyle[$index]" class="background">
          <ion-content ng-class="dynamicStyle[$index]" scroll="false">
            <div class="task-name">
              <div ng-show=task.completed><i style="margin: 10px 10px 10px 0px" class="icon ion-checkmark-round"></i></div><span>{{ task.content }}</span>
            </div>
          </ion-content>
        </ion-item>
      <ion-list>

    </ion-content>
  </ion-pane>
</ion-view>
