<div class="bar bar-header orange">

  <div class="row row-center orange">
    <div class="col col-90">
        {{ user.nickname }}
    </div>
      <button class="button button-icon icon ion-gear-b" ng-click="settings()"></button>
    </div>
  </div>
</div>
<ion-content class="background has-header has-footer">
  <ion-list>
    <ion-item class="background" ng-repeat="invite in invites | filter:filters">
      {{invite.tutor_id}}, {{invite.kind}}, {{invite.status}}
      <button class="button button-balanced accept-invite-button" ng-click="acceptInvite(invite)"
              ng-if="invite.kind.toLowerCase() == 'received' && invite.status.toLowerCase() == 'pending'">👍</button>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer-bar class="button-footer orange">
    <div class="invite-filter-button" ng-click="filters.kind = ''">
      Wszystkie
    </div>
    <div class="invite-filter-button" ng-click="filters.kind = 'sent'">
      Wysłane
    </div>
    <div class="invite-filter-button" ng-click="filters.kind = 'received'">
      Otrzymane
    </div>
</ion-footer-bar>
