<div class="bar bar-header orange">
    <div class="row row-center orange">
        <div class="col col-70">
            {{ user.nickname }}
        </div>
        <button class="button button-icon icon ion-plus" ng-click="invite()"></button>
        <button class="button button-icon icon ion-gear-b" ui-sref="settings"></button>
    </div>
  </div>
</div>
<ion-content class="background has-header has-footer" style="margin-top:16px">
  <ion-list class="background" can-swipe="true" swipe-direction="both" scroll="false">
    <ion-item class="item-remove-animate item item-complex item-right-editable" ng-repeat="invite in invites | filter:filters">
        <div>
            <div ng-if="invite.kind=='child'">Zaprosiłeś opiekuna nr {{invite.tutor_id}}</div>
            <div ng-if="invite.kind=='child-avatar'">Poprosiłeś opiekuna nr {{invite.tutor_id}} o nowy awatar</div>
            <div ng-if="invite.kind=='tutor'">Zaprosił cię opiekun nr {{invite.tutor_id}}</div>
            <div style="opacity: 0.5">
                <div ng-if="invite.status=='pending'">oczekujące</div>
                <div ng-if="invite.status=='accepted'">zaakceptowane</div>
                <div ng-if="invite.status=='rejected'">odrzucone</div>
            </div>
        </div>
        <div ng-if="(invite.kind=='tutor' || invite.kind=='tutor-avatar') && invite.status=='pending'">
            <ion-option-button side="left" class="button button-balanced" ng-click="acceptInvite(invite)">
                <i class="icon ion-checkmark-round"></i>
            </ion-option-button>
            <ion-option-button side="right" class="button button-assertive" ng-click="rejectInvite(invite)">
                <i class="icon ion-close-round"></i>
            </ion-option-button>
        </div>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer-bar class="button-footer orange">
    <div class="invite-filter-button" ng-click="filters.kind = ''">
      Wszystkie
    </div>
    <div class="invite-filter-button" ng-click="filters.kind ='child'">
      Wysłane
    </div>
    <div class="invite-filter-button" ng-click="filters.kind = 'tutor'">
      Otrzymane
    </div>
</ion-footer-bar>
